### Simple calculation

7

### Variables
##### A variable is a name that represents a value stored in the computer’s memory.

In [40]:
a=10    # hold integer value
b,c=10,10.5 # hold integer and floating point value in corresponding variables
d='a' # hold character
e='hello world' # hold string
a=b # hold integer value of the b which 10

c

10.5

In [42]:
a,b=1,2
c=a
a=b
b=c
c

1

In [2]:
print(1+3)

4

In [43]:
print(type(a))  # Output: int
print(type(b))  # Output: float
print(type(c))  # Output: float
print(type(d))  # Output: str
print(type(e))  # Output: str

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

## Data Types
#### Boolean, String, Numeric, Sequence (List, tuple, sets), mapping (dict), binary (bytes, bytearray, memoryview)

In [45]:
# Boolean 
# ========
# Any data which can be represented as either `True` or `False`, Used when comparing two values. 
# E.g., `10 > 9`, Python will return `True`.
# comparison >, < , >=, <=, !=, ==

10>9

True

In [52]:
# String
# =======
# Any data that includes text — either letters, numbers, or special characters.
# Strings are enclosed in either single- or double-quotation marks: "string1" or 'string2'.
a="string1"
b='string2'
a+' '+b   # + is used for concatenation

'string1 string2'

In [11]:
# Numeric (int, float, complex)
# =============================
# Any data which can be represented as numerically (integer as whole numbers) e.g., 123
# any data which can be represented as floating-point numbers e.g., 123.0
# any data which can be represented as complex e.g., (2+3-1*3/2x)
a=123
b=123.0
c=a-b+2*a
c

246.0

In [ ]:
# Sequence (list, tuple, set)
# =========================== 
# Data that is a collection of discrete elements.

# 1. List (mutable collection): [ ] 
# ----------------------------- 
# A list is collection that is ordered,  changeable, and can be duplicated. e.g., ["Abc", 1, 1.0,'a'].

# 2. tuple (imutable collection): ( )
# ------------------------------ 
# A tuple is a collection that is ordered, unchangeable, and can be duplicated. e.g., ("Abc", 1, 1.0, 'a').

# 3. set (imutable collection): { }
# A set is a collection that is unordered, unchangeable, and contains unique elements only. e.g.,  {"Abc", 1, 1.0, 'a'}.

# 4. Mapping (dictionary): {key:value}
# ------------------------
# keys and values are associated with each other using a colon : and each pair is separated using a comma ,

# 5. Binary 
# ------------
# Data that is not human-readable

In [69]:
# Example of a list
fruits = ["apple", "banana", "cherry"]
print(fruits)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [71]:
# Accessing list elements
print(fruits[0])  # Output: apple

apple

In [13]:
# negative indexing: accessing element of list from the end of the list
print(fruits[-1]) # Output: ['cherry']

cherry

In [ ]:
# Adding an element to the list
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Removing an element from the list
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry', 'orange']

['apple', 'cherry', 'orange']

In [4]:
# Zipping list elements
# ========================
# Combining two or more lists into an object containing ordered tuples from the lists.
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
new_list=zip(list1,list2,list3)

print(list(new_list))    #this approach is called generator: putting one list inside another list

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

# Dictionaries

In [8]:
data={"key1":10, "key2":20}
type(data)
data["key2"]

20

In [15]:
data={"key1":[1,2,3], "key2":['a','b','c']}
type(data)
print(data['key2'][2] , data['key1'][1])

c 2

In [19]:
data={
    "group1":{
        "contact_name":['Humayun','Usman','Abid'],
        "phone": [35,33,40]
    },
    "group2":{
        "contact_name":['Wazir','ahsan','shaheer'],
        "phone":[31,32,30],
    }

}

data["group1"]["contact_name"][1], '=', data["group1"]["phone"][1]

('Usman', '=', 33)

In [84]:
# Example of a dictionary.
student = {"name": "John", "age": 25, "courses": ["Math", "CompSci"]}
print(student)  # Output: {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

In [85]:
# Accessing dictionary values
print(student["name"])  # Output: John
print(student["courses"])

John
['Math', 'CompSci']

In [87]:
student["courses"]="Python"
print(student)

{'name': 'John', 'age': 25, 'courses': 'Python'}

In [82]:
# Adding a new key-value pair
student["grade"] = "A"
print(student)  # Output: {'name': 'John', 'ag': 25, 'courses': ['Math', 'CompSci'], 'grade': 'A'}

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci'], 'grade': 'A'}

In [83]:
# Removing a key-value pair
del student["courses"]
print(student)  # Output: {'name': 'John', 'courses': ['Math', 'CompSci'], 'grade': 'A'}

{'name': 'John', 'age': 25, 'grade': 'A'}

In [21]:
data={
    "group1":{
        "name":["Junaid","Maryam"],
        "age":[6,0.4],
        "subjects":[["PHP","Java"],
                    ["Python","Laravel"]]
    },
    "group2":{
        "name":["Ayema","Aiza"],
        "age":[7,0.11],
        "subjects":[["ML","DL"],["HTML","CSS"]]
    }
}

data["group1"]['subjects'][1][0]


new_list=zip(data['group1']["subjects"],data['group2']["subjects"])
print(list(new_list))

[(['PHP', 'Java'], ['ML', 'DL']), (['Python', 'Laravel'], ['HTML', 'CSS'])]

# Sets

**A set is an unordered collection of unique items.**

In [41]:
# Example of a set
fruits_set = {"apple", "apple", "cherry","banana"}
type(fruits_set)  
fruits_set# Output: {'apple', 'banana', 'cherry'}

{'apple', 'banana', 'cherry'}

In [ ]:
# Adding an element to the set
fruits_set.add("orange")
print(fruits_set)  # Output: {'apple', 'banana', 'cherry', 'orange'}

{'cherry', 'banana', 'apple', 'orange'}

In [ ]:
# Removing an element from the set
fruits_set.remove("banana")
print(fruits_set)  # Output: {'apple', 'cherry', 'orange'}

{'cherry', 'apple', 'orange'}

In [ ]:
# Checking membership in a set
print("apple" in fruits_set)  # Output: True

True

# Tuples

**tuples are immutable, meaning their elements cannot be modified, added, or removed after creation.**

In [ ]:
my_tuple = (1, 2, 3, 'hello')
my_tuple

(1, 2, 3, 'hello')

In [ ]:
# adding to a tuple
my_tuple.add("Apple")
my_tuple

AttributeError: 'tuple' object has no attribute 'add'

**Note that we get an error while trying to add to a tuple**

**The same goes for removing**

In [ ]:
my_tuple.remove('hello')
my_tuple

AttributeError: 'tuple' object has no attribute 'remove'