**1. What is Pandas, and why is it popular in data
analyst?**

Pandas is a popular open-source data manipulation and analysis library for the Python
programming language. It provides data structures for efficiently storing and manipulating
large datasets and tools for reading and writing data in various formats. The two primary
data structures in Pandas are:
1. Series: A one-dimensional labeled array capable of holding any data type.
2. DataFrame: A two-dimensional labeled data structure with columns that can be of
different types.


Pandas is widely used in the field of data analysis for several reasons:

1. Ease of Use: Pandas provides a simple and intuitive syntax for data manipulation. Its
data structures are designed to be easy to use and interact with.
2. Data Cleaning and Transformation: Pandas makes it easy to clean and transform data.
It provides functions for handling missing data, reshaping data, merging and joining
datasets, and performing various data transformations.
3. Data Exploration: Pandas allows data analysts to explore and understand their datasets
quickly. Descriptive statistics, data summarization, and various methods for slicing and
dicing data are readily available.
4. Data Input/Output: Pandas supports reading and writing data in various formats,
including CSV, Excel, SQL databases, and more. This makes it easy to work with data
from different sources.
5. Integration with Other Libraries: Pandas integrates well with other popular data
science and machine learning libraries in Python, such as NumPy, Matplotlib, and Scikitlearn. This allows for a seamless workflow when performing more complex analyses.
6. Time Series Analysis: Pandas provides excellent support for time series data, including
tools for date range generation, frequency conversion, and resampling.
7. Community and Documentation: Pandas has a large and active community, which
means there is extensive documentation and a wealth of online resources, tutorials, and
forums available for users to seek help and guidance.
8. Open Source: Being an open-source project, Pandas allows users to contribute to its
development and improvement. This collaborative nature has helped Pandas evolve and
stay relevant in the rapidly changing landscape of data analysis and data science.
In summary, Pandas is popular in data analysis because it simplifies the process of working
with structured data, provides powerful tools for data manipulation, and has become a standard tool in the Python ecosystem for data analysis tasks.

### 2. What is DataFrame in Pandas?

In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows
and columns). It is similar to a spreadsheet or SQL table, where data can be stored in rows
and columns. The key features of a DataFrame include:
1. Tabular Structure: A DataFrame is a two-dimensional table with rows and columns.
Each column can have a different data type, such as integer, float, string, or even
custom types.
2. Labeled Axes: Both rows and columns of a DataFrame are labeled. This means that
each row and each column has a unique label or index associated with it, allowing for
easy access and manipulation of data.
3. Flexible Size: DataFrames can grow and shrink in size. You can add or remove rows and
columns as needed.
4. Heterogeneous Data Types: Different columns in a DataFrame can have different data
types. For example, one column might contain integers, while another column contains
strings.
5. Data Alignment: When performing operations on DataFrames, Pandas automatically
aligns the data based on labels, making it easy to work with data even if it is not
perfectly clean or aligned.
6. Missing Data Handling: DataFrames can handle missing data gracefully. Pandas
provides methods for detecting, removing, or filling missing values.
7. Powerful Operations: DataFrames support a wide range of operations, including
arithmetic operations, aggregation, filtering, merging, and reshaping. This makes it a
powerful tool for data analysis and manipulation.

In [1]:
import pandas as pd
# Creating a DataFrame from a dictionary
data = {'Name': ['John', 'Jane', 'Bob'],
 'Age': [28, 24, 22],
 'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)
# Displaying the DataFrame
print(df)

   Name  Age           City
0  John   28       New York
1  Jane   24  San Francisco
2   Bob   22    Los Angeles

In this example, each column represents a different attribute (Name, Age, City), and each
row represents a different individual. The DataFrame provides a convenient way to work with
this tabular data in a structured and labeled format.

**3. What is diffrence between loc and iloc in
pandas?**

In Pandas, loc and iloc are two different methods used for indexing and selecting data
from a DataFrame. They are primarily used for label-based and integer-location-based
indexing, respectively. Here's the key difference between loc and iloc :

**1. loc (Label-based Indexing):**

The loc method is used for selection by label.

It allows you to access a group of rows and columns by labels or a boolean array.

The syntax is df.loc[row_label, column_label] or df.loc[row_label] for
selecting entire rows.

The labels used with loc are the actual labels of the index or column names, not
the integer position.

Inclusive slicing is supported with loc , meaning both the start and stop index are
included in the selection.

In [2]:
import pandas as pd
 # Assuming 'df' is our DataFrame
selected_data = df.loc[2:4, 'Name':'City']
selected_data

  Name  Age         City
2  Bob   22  Los Angeles

**1. iloc (Integer-location based Indexing):**


The iloc method is used for selection by position.

It allows you to access a group of rows and columns by integer positions.

The syntax is df.iloc[row_index, column_index] or df.iloc[row_index]
for selecting entire rows.

The indices used with iloc are integer-based, meaning you specify the position
of the rows and columns based on their numerical order (0-based indexing).

Exclusive slicing is used with iloc , meaning the stop index is not included in the
selection.

In [3]:
import pandas as pd
 # Assuming 'df' is our DataFrame
selected_data = df.iloc[2:5, 0:3]
selected_data

  Name  Age         City
2  Bob   22  Los Angeles

In summary, if you want to select data based on the labels of rows and columns, you use
loc . If you prefer to select data based on the integer positions of rows and columns, you
use iloc . The choice between them depends on whether you are working with labeled or
integer-based indexing.

### 4. How do you filter rows in a dataframe based on condition?

To filter rows in a DataFrame based on a condition, you can use boolean indexing. Boolean
indexing involves creating a boolean Series that represents the condition you want to apply
and then using that boolean Series to filter the rows of the DataFrame. Here's a step-by-step
guide:

Assuming you have a DataFrame named df, and you want to filter rows based on a
condition, let's say a condition on the 'Age' column:

In [4]:
import pandas as pd
# Assuming 'df' is your DataFrame
data = {'Name': ['John', 'Jane', 'Bob', 'Alice'],
 'Age': [28, 24, 22, 30],
 'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
# Condition for filtering (e.g., selecting rows where Age is greater than 25)
condition = df['Age'] > 25
# Applying the condition to filter rows
filtered_df = df[condition]
# Displaying the filtered DataFrame
print(filtered_df)

    Name  Age      City
0   John   28  New York
3  Alice   30   Chicago

### 5. How do you handle missing values in data with the help of pandas?

Handling missing values is a crucial step in the data cleaning process. Pandas provides several methods for working with missing data in a DataFrame. Here are some common techniques:

**1. Detecting Missing Values:**
The isnull() method can be used to detect missing values in a DataFrame. It
returns a DataFrame of the same shape, where each element is a boolean
indicating whether the corresponding element in the original DataFrame is missing.
The notnull() method is the opposite of isnull() and returns True for
non-missing values.

In [5]:
# Assuming 'df' is your DataFrame
missing_values = df.isnull()

**1. Dropping Missing Values:**

The dropna() method can be used to remove rows or columns containin missing values.




.
The thresh parameter can be used to specify a threshold for the number Non-nullull values required to keep a row or column

In [6]:
# Drop rows with any missing values
df_no_missing_rows = df.dropna()

# Drop columns with any missing values
df_no_missing_cols = df.dropna(axis=1)

# Drop rows with at least 3 non-null values
df_thresh = df.dropna(thresh=3)

**1. Filling Missing Values:**

    
The fillna() method can be used to fill missing values with a specified constant
or using various filling methods like forward fill or backward fill.
Commonly, mean or median values are used to fill missing values in numerical
columns.

In [7]:
# Fill missing values with a constant
df_fill_constant = df.fillna(0)

# Fill missing values with the mean of the column
df_fill_mean = df.fillna(df["Age"].mean())

# Forward fill missing values (use the previous value)
df_ffill = df.fillna(method='ffill')

# Backward fill missing values (use the next value)
df_bfill = df.fillna(method='bfill')

C:\Users\Hamood\AppData\Local\Temp\ipykernel_4592\3061817867.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
C:\Users\Hamood\AppData\Local\Temp\ipykernel_4592\3061817867.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

### 6. Explain the process of merging two dataframe in pandas

Merging two DataFrames in Pandas involves combining their rows based on a common
column (or index) called the key. This operation is similar to SQL joins. Pandas provides the
merge() function to perform various types of joins between two or more DataFrames.

    
**Step 1:** 

Import Pandas

In [8]:
import pandas as pd

**Step 2:**

Create Two DataFrames Assuming you have two DataFrames, df1 and df2, with a
common key column:

In [9]:
# Example DataFrames
data1 = {'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]}
data2 = {'Key': ['A', 'B', 'D'], 'Value2': ['X', 'Y', 'Z']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

**Step 3:** 

Choose the Type of Join Decide on the type of join you want to perform. The
common types are:


    Inner Join (how='inner'): Keeps only the rows with keys present in both DataFrames.
    Outer Join (how='outer'): Keeps all rows from both DataFrames and fills in missing values with NaN where there is no match.
    Left Join (how='left'): Keeps all rows from the left DataFrame and fills in missing valueswith NaN where there is no match in the right DataFrame.
    Right Join (how='right'): Keeps all rows from the right DataFrame and fills in missingvalues with NaN where there is no match in the left DataFrame.

**Step 4: Merge the DataFrames**

In [10]:
# Performing the merge (for example, an inner join)
merged_df = pd.merge(df1, df2, on='Key', how='inner')
merged_df

  Key  Value1 Value2
0   A       1      X
1   B       2      Y

In this example, we're performing an inner join based on the 'Key' column. The resulting
DataFrame (merged_df) will have columns from both original DataFrames, and rows where
the 'Key' values match in both DataFrames

### 7.What is purpose of the groupby function in pandas?

The groupby function in Pandas is used for grouping data based on some criteria, and it is
a powerful and flexible tool for data analysis and manipulation. The primary purpose of
groupby is to split the data into groups based on some criteria, apply a function to each
group independently, and then combine the results back into a DataFrame.

### Purpose of groupby :
**1. Data Splitting:**

    groupby is used to split the data into groups based on one or more criteria, such as a column's values or a combination of columns.
    
**2. Operations on Groups:**

    After splitting the data into groups, you can perform operations on each group independently. This might include aggregations, transformations, filtering, or other custom operations.
    
**3. Aggregation:**

    One of the most common use cases for groupby is to perform aggregation operations on each group, such as calculating the mean, sum, count, minimum, maximum, etc.
    
**4. Data Transformation:**

    groupby allows you to apply transformations to the groups and create new features or modify existing ones.
    
**5. Filtering:**

    You can use groupby in combination with filtering operations to select specific groups based on certain conditions.

### 8.Expalin the difference between Series and DataFrame in Pandas

In Pandas, both Series and DataFrame are fundamental data structures, but they serve
different purposes and have distinct characteristics.

### Series:
**1. 1-Dimensional Data Structure:**
    
    A Series is essentially a one-dimensional labeled array that can hold any data type, such as integers, floats, strings, or even Python objects.

**2. Homogeneous Data:**

    All elements in a Series must be of the same data type. It is a homogeneous datastructure.

**3. Labeled Index:**

    Each element in a Series has a label (index), which can be customized or can be the default integer index. This index facilitates easy and efficient data retrieval.

**4. Similar to a Column in a DataFrame:**

    A Series is similar to a single column in a DataFrame. In fact, you can think of a DataFrame as a collection of Series with the same index.

**5. Creation:**

    You can create a Series from a list, NumPy array, or dictionary. dictionary.

In [11]:
import pandas as pd
# Creating a Series from a list
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s

a    1
b    2
c    3
d    4
dtype: int64

### DataFrame:

**1. 2-Dimensional Data Structure:**

    A DataFrame is a two-dimensional tabular data structure where you can store data of different data types. It consists of rows and columns.

**2. Heterogeneous Data:**

    Different columns in a DataFrame can have different data types, making it a heterogeneous data structure.

**3. Labeled Index and Columns:**

    Similar to a Series, a DataFrame also has a labeled index for rows, and additionally, it has labeled columns. The column names can be customized.

**4. Collection of Series:**

    A DataFrame can be thought of as a collection of Series. Each column is a Series, and the columns share the same index.

**5. Creation:**

    You can create a DataFrame from a dictionary, a list of dictionaries, a NumPy array, or another DataFrame.

In [12]:
import pandas as pd
# Creating a DataFrame from a dictionary
data = {'Name': ['John', 'Jane', 'Bob'],
        'Age': [28, 24, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)
df

   Name  Age           City
0  John   28       New York
1  Jane   24  San Francisco
2   Bob   22    Los Angeles

In summary, while both Series and DataFrames have labeled indices and support various
operations, a Series is a one-dimensional array, and a DataFrame is a two-dimensional table.
Series are often used to represent a single column, while DataFrames are used to represent a
collection of columns with potentially different data types

### 9.what is purpose of the apply Function in pandas, and how is it used?

The apply function in Pandas is a powerful tool used for applying a function along the axis
of a DataFrame or a Series. It is particularly useful for performing element-wise operations,
transformations, or custom functions on the data. The primary purpose of apply is to
allow users to apply a function to each element in a DataFrame or Series, row-wise or
column-wise.

### Purpose of apply:

**1. Element-wise Operations:**

    Apply allows you to perform element-wise operations on each element in a Series or DataFrame.

**2. Custom Functions:**

    You can use apply to apply custom functions that you define to each element or row/column of your data.

**3. Aggregation:**

    When used with DataFrames, apply can be used for column-wise or row-wise aggregation.

**4. Function Composition:**

    apply is often used in combination with lambda functions or other callable objects, allowing for flexible and concise code.

## Examples:

In [13]:

#### Example 1: Element-wise Operation on Series
import pandas as pd
# Creating a Series
s = pd.Series([1, 2, 3, 4])

# Applying a square function element-wise
result_series = s.apply(lambda x: x**2)
result_series

0     1
1     4
2     9
3    16
dtype: int64

In [14]:
#### Example 2: Applying a Function to Each Column in a DataFrame
import pandas as pd
# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
# Applying a sum function column-wise
result_dataframe = df.apply(sum, axis=0)
result_dataframe

A     6
B    15
dtype: int64

In [15]:
#### Example 3: Applying a Function to Each Row in a DataFrame
# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
# Applying a sum function row-wise
result_dataframe = df.apply(sum, axis=1)
result_dataframe

0    5
1    7
2    9
dtype: int64

In these examples, the apply function is used to perform operations on each element in a
Series or each row/column in a DataFrame. The flexibility of apply makes it a versatile tool
for various data manipulation tasks in Pandas

## 10.Explain the concept of Pivot Tables in pandas

In Pandas, a pivot table is a data summarization tool that allows you to reshape and analyze
your data by aggregating and restructuring it. Pivot tables provide a way to rearrange,
reshape, and aggregate data in a DataFrame to gain insights and perform complex analyses
more efficiently. The concept is inspired by Excel's pivot table functionality.

### Key Concepts of Pivot Tables:

**1. Rows and Columns:**

    In a pivot table, you specify which columns of the original DataFrame should become the new index (rows) and which columns should become the new columns.

**2. Values:**

    You specify which columns of the original DataFrame should be used as values in the new table. These values are then aggregated based on the specified rows and columns.

**3. Aggregation Function:**

    You can specify an aggregation function to apply to the values. Common aggregation functions include sum, mean, count, max, min, etc.

### How to Create a Pivot Table:

**df**: The original DataFrame.

**values**: The column to aggregate (can be a list if you want to aggregate multiple columns).

**index**: The column(s) to become the new index.

**columns**: The column(s) to become the new columns.

**aggfunc**: The aggregation function to apply to the values.

## Example:

In [16]:

import pandas as pd
# Creating a sample DataFrame
data = {'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
 'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
 'Temperature': [32, 75, 30, 78],
 'Humidity': [80, 10, 85, 12]}
df = pd.DataFrame(data)
print(df)
print('----------------------------------------------------------------------------')
# Creating a pivot table to show average temperature for each city on each date
pivot_table = pd.pivot_table(df, values='Temperature', index='Date', columns='City')
print(pivot_table)

         Date         City  Temperature  Humidity
0  2022-01-01     New York           32        80
1  2022-01-01  Los Angeles           75        10
2  2022-01-02     New York           30        85
3  2022-01-02  Los Angeles           78        12
----------------------------------------------------------------------------
City        Los Angeles  New York
Date
2022-01-01         75.0      32.0
2022-01-02         78.0      30.0

In this example, the pivot table calculates the average temperature for each city on each
date. The resulting table will have dates as rows, cities as columns, and the average
temperature as values.

Pivot tables are particularly useful for exploring and summarizing data with multiple
dimensions, making complex data analysis tasks more accessible and efficient. They allow
you to quickly gain insights into your data's patterns and relationships.